.header {
  display:flex;
  justify-content:center;
  padding:20px 0px;
  max-width:100%;

  font-family: "Helvetica Neue Lt", Helvetica, Arial, sans-serif;
  letter-spacing: 0.04em;
  font-size: 13px;
  color: #555;

  .navBrand {
    display:flex;
    justify-content: start;
  }


  .headerLogo {
    height:60px;
    width:auto;
  }

  .headerContainer {
    display:flex;
    justify-content: space-between;
    max-width:100%;
    width:100%;
  }

  .rightHeader {
    display:flex;
    justify-content: space-between;
    width:100%;
  }

  .nav-collapse {
    display:flex;
  }

  .headerNavItems {
    display:flex;
    justify-content:flex-end;
  }

}


.headerNav {
  list-style: none;;
  

  
  li {
    align-items: baseline;
    display:flex;
    margin:0px 15px;
  }

  a{
    color: #999999;
    font-size:13px;
    display: inline-block;
    align-self: flex-end;
    line-height: 100%;
    vertical-align:bottom;
  }

  a:hover {
    color: #ef7c00;
    text-decoration: none;
  }
  
}
