.navbar {
    z-index: 6660;
    height: var(--header-height);
    padding-left:20px;
  }

  .navItem {
      font-size:14px;
      padding:15px 0px;
      margin:0px 15px;



  }

.dropdown:hover .dropdown-menu {
    display: block;
}
  